<!DOCTYPE HTML>
<html lang="pl">
    <head>
        <title>Odliczanie do Dnia Słonia</title>

        <meta name="description" content="Odliczanie do Dnia Słonia">
        <meta name="keywords" content="Odliczanie do Dnia Słonia, Ile do Dnia Słonia, Countdown to Elephant Day">
        <meta name="author" content="Słoń Indyjski">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

        <link href="/static/css/style.css" rel="stylesheet">

        <style id="user-custom-css"></style>

        <style id="vertically-center-site-css"></style>
        <style id="scale-css"></style>
        <style id="shadow-css"></style>
        <style id="outline-css"></style>
        <style id="cursor-css"></style>

        <link rel="manifest" href="/manifest.json">

        <!-- Standard browsers -->
        <meta name="theme-color" content="#00c900"/>
        <!-- iOS Safari -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <!-- Windows Phone -->
        <meta name="msapplication-navbutton-color" content="#00c900">

        <link rel="apple-touch-icon" href="/static/img/maskable_icons/maskable_icon_x192.png">

        <script src="https://cdn.jsdelivr.net/npm/nosleep.js@0.12.0/dist/NoSleep.js"></script>
        <script src="/static/js/modules/screenfull.js"></script>

        <script src="/static/js/languages.js"></script>

        <meta name="google-site-verification" content="DWDCA1o0-1H8j5EFCdKwydPuXDlKfackEDtgsAQ9jbM" />
    </head>
    <body class="container-fluid p-0 m-0">
        <div id="main">
            <h1 class="site-title">
                <span text-id="0">Odliczanie do Dnia Słonia</span>
                <img id="site-icon" src="/static/img/icons/elephant.svg" alt="Ikona" width="40px" height="40px">
                <svg
                id="site-icon-outline"
                class="d-none"
                width="40px"
                height="40px"
                fill="currentColor"
                viewBox="0 0 12.7 12.7">
                </svg>
            </h1>

            <script>
                fetch('/static/img/elephant-outline-content.txt')
                .then((response) => response.text())
                .then((data) => {
                    document.querySelector('#site-icon-outline').innerHTML = data;
                });
            </script>

            <div class="top-menu d-none">
                <div id="top-menu-open-div" class="top-menu-element ms-1 mb-1 mb-sm-1 mb-md-1 mb-lg-1 mb-xl-0 mb-xxl-0">
                    <button id="top-menu-open" class="top-menu-open btn btn-primary menu-button" aria-label="Otwórz menu">
                        <i class="bi bi-list"></i>
                    </button>
                </div>

                <div id="top-menu" class="closed close">
                    <div class="top-menu-element ms-1 mb-1 mb-sm-1 mb-md-1 mb-lg-1 mb-xl-0 mb-xxl-0">
                        <button class="btn btn-primary menu-button" id="options-button" data-bs-toggle="modal" data-bs-target="#settingsModal">
                            <i class="bi bi-gear-fill"></i>
                            <span class="menu-button-name"><span text-id="6">Ustawienia</span></span>
                        </button>
                    </div>

                    <div class="top-menu-element ms-1 mb-1 mb-sm-1 mb-md-1 mb-lg-1 mb-xl-0 mb-xxl-0">
                        <button class="btn btn-primary menu-button" id="fullscreen-button" onclick="fullscreen(this)" fullscreen="false">
                            <i class="bi bi-fullscreen"></i>
                            <span class="menu-button-name"><span text-id="4">Pełny ekran</span></span>
                        </button>
                    </div>

                    <div class="top-menu-element ms-1 mb-1 mb-sm-1 mb-md-1 mb-lg-1 mb-xl-0 mb-xxl-0">
                        <button class="btn btn-primary menu-button" id="keep-screen-on-button" onclick="keepScreenOn(this)" keep-screen-on="false">
                            <i class="bi bi-moon-fill"></i>
                            <span class="menu-button-name"><span text-id="5">Nie wygaszaj ekranu</span></span>
                        </button>
                    </div>
                </div>

                <script>
                    var noSleep = new NoSleep();

                    function fullscreen(button) {
                        if (button.getAttribute('fullscreen') == 'false') {
                            if (document.querySelector('html').lang == 'pl') {
                                button.querySelector('.menu-button-name').innerHTML = 'Zamknij pełny ekran';
                            } else {
                                button.querySelector('.menu-button-name').innerHTML = 'Exit full screen';
                            }

                            button.querySelector('.bi-fullscreen').classList.replace('bi-fullscreen', 'bi-fullscreen-exit');

                            button.setAttribute('fullscreen', 'true');

                            screenfull.request();
                        } else if (button.getAttribute('fullscreen') == 'true') {
                            if (document.querySelector('html').lang == 'pl') {
                                button.querySelector('.menu-button-name').innerHTML = 'Pełny ekran';
                            } else {
                                button.querySelector('.menu-button-name').innerHTML = 'Full screen';
                            }

                            button.querySelector('.bi-fullscreen-exit').classList.replace('bi-fullscreen-exit', 'bi-fullscreen');

                            button.setAttribute('fullscreen', 'false');

                            screenfull.exit();
                        }
                    }

                    function keepScreenOn(button) {
                        if (button.getAttribute('keep-screen-on') == 'false') {
                            if (document.querySelector('html').lang == 'pl') {
                                button.querySelector('.menu-button-name').innerHTML = 'Wyłącz blokadę';
                            } else {
                                button.querySelector('.menu-button-name').innerHTML = 'Disable lock';
                            }

                            button.querySelector('.bi-moon-fill').classList.replace('bi-moon-fill', 'bi-moon-stars-fill');
                            
                            button.setAttribute('keep-screen-on', 'true');

                            noSleep.enable();
                        } else if (button.getAttribute('keep-screen-on') == 'true') {
                            if (document.querySelector('html').lang == 'pl') {
                                button.querySelector('.menu-button-name').innerHTML = 'Nie wygaszaj ekranu';
                            } else {
                                button.querySelector('.menu-button-name').innerHTML = 'Don\'t turn off screen';
                            }
                            
                            button.querySelector('.bi-moon-stars-fill').classList.replace('bi-moon-stars-fill', 'bi-moon-fill');
                            
                            button.setAttribute('keep-screen-on', 'false');

                            noSleep.disable();
                        }
                    }
                </script>

                <div class="clearfix"></div>
            </div>

            <div id="top-menu-new" class="d-none">
                <div class="ms-1 float-start">
                    <button class="btn btn-primary new-menu-button" id="options-button2" data-bs-toggle="modal" data-bs-target="#settingsModal" title="Ustawienia">
                        <i class="bi bi-gear-fill"></i>
                    </button>
                </div>

                <div class="ms-1 float-start">
                    <button class="btn btn-primary new-menu-button" id="fullscreen-button2" onclick="fullscreen2(this)" fullscreen="false" title="Pełny ekran">
                        <i class="bi bi-fullscreen"></i>
                    </button>
                </div>

                <div class="ms-1 float-start">
                    <button class="btn btn-primary new-menu-button" id="keep-screen-on-button2" onclick="keepScreenOn2(this)" keep-screen-on="false" title="Nie wygaszaj ekranu">
                        <i class="bi bi-moon-fill"></i>
                    </button>
                </div>

                <div class="clearfix"></div>
            </div>

            <script>
                var noSleep = new NoSleep();

                function fullscreen2(button) {
                    if (button.getAttribute('fullscreen') == 'false') {
                        button.querySelector('.bi-fullscreen').classList.replace('bi-fullscreen', 'bi-fullscreen-exit');
                        button.setAttribute('fullscreen', 'true');
                        screenfull.request();
                    } else if (button.getAttribute('fullscreen') == 'true') {
                        button.querySelector('.bi-fullscreen-exit').classList.replace('bi-fullscreen-exit', 'bi-fullscreen');
                        button.setAttribute('fullscreen', 'false');
                        screenfull.exit();
                    }
                }

                function keepScreenOn2(button) {
                    if (button.getAttribute('keep-screen-on') == 'false') {
                        button.querySelector('.bi-moon-fill').classList.replace('bi-moon-fill', 'bi-moon-stars-fill');
                        button.setAttribute('keep-screen-on', 'true');
                        noSleep.enable();
                    } else if (button.getAttribute('keep-screen-on') == 'true') {
                        button.querySelector('.bi-moon-stars-fill').classList.replace('bi-moon-stars-fill', 'bi-moon-fill');
                        button.setAttribute('keep-screen-on', 'false');
                        noSleep.disable();
                    }
                }
            </script>

            <script> document.querySelector('#top-menu-new').classList.remove('d-none'); </script>

            <script>
                document.querySelector('#top-menu-open').addEventListener('click', function () {
                    var menu = document.querySelector('#top-menu');

                    if (menu.classList.contains('close')) {
                        menu.classList.remove('closed');
                        menu.classList.remove('close');
                        menu.classList.add('open');
                    } else {
                        menu.classList.remove('opened');
                        menu.classList.remove('open');
                        menu.classList.add('close');
                    }
                });

                document.querySelector('#top-menu').addEventListener('animationend', function () {
                    var menu = document.querySelector('#top-menu');

                    if (menu.classList.contains('close')) {
                        menu.classList.add('closed');
                    } else if (menu.classList.contains('open')) {
                        menu.classList.add('opened');
                    }
                })
            </script>

            <div class="clearfix"></div>

            <br>

            <div class="countdown-container d-none">
                <p class="date-label" id="today-datetime-label"><span text-id="1">Dzisiaj</span>:</p>
                <p class="date" id="today-datetime"></p>

                <p class="date-label" id="elephant-day-datetime-label"><span text-id="2">Dzień Słonia</span>:</p>
                <p class="date" id="elephant-day-datetime"></p>

                <p class="left-header"><span text-id="3">Pozostało</span>:</p>

                <div class="countdown" id="countdown-days"></div>
                <p class="left-unit" id="left-days-unit">dni</p>
                <div class="countdown" id="countdown-hours"></div>
                <p class="left-unit" id="left-hours-unit">godzin</p>
                <div class="countdown" id="countdown-minutes"></div>
                <p class="left-unit" id="left-minutes-unit">minut</p>
                <div class="countdown" id="countdown-seconds"></div>
                <p class="left-unit" id="left-seconds-unit">sekund</p>
                <div class="countdown" id="countdown-milliseconds"></div>
                <p class="left-unit" id="left-milliseconds-unit">milisekund</p>
            </div>
            <div id="countdown-loading" class="d-none">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Ładuję...</span>
                    </div>
                </div>
            </div>
            <script>document.querySelector('#countdown-loading').classList.remove('d-none');</script>
            <noscript>
                <div class="alert alert-danger m-3" role="alert" data-bs-theme="dark">
                    Do obsługi strony wymagany jest JavaScript.<br>
                    Ta przeglądarka go nie obsługuje lub jego obsługa została wyłączona.
                </div>
            </noscript>
        </div>

        <div class="modal fade" id="settingsModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
            <div class="modal-dialog modal-dialog-scrollable modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <p class="modal-title h5"><i class="bi bi-gear-fill"></i> <span text-id="6">Ustawienia</span></p>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="settings-main-menu">
                            <button class="settings-category-button" settings-target="#general-settings"><i class="bi bi-gear-fill"></i> <span class="settings-category-button-text"><span text-id="7">Ogólne</span></span></button>
                            <button class="settings-category-button" settings-target="#language-settings"><i class="bi bi-translate"></i> <span class="settings-category-button-text">Język / Language</span></button>
                            <button class="settings-category-button" settings-target="#advanced-settings"><i class="bi bi-code-slash"></i> <span class="settings-category-button-text"><span text-id="8">Zaawansowane</span></span></button>
                            <button class="settings-category-button" settings-target="#appearance-settings"><i class="bi bi-palette-fill"></i> <span class="settings-category-button-text"><span text-id="9">Wygląd</span></span></button>
                            <!-- <button class="settings-category-button" settings-target="#widget-settings"><i class="bi bi-window"></i> <span class="settings-category-button-text">Widżet</span></button> -->
                            <button class="settings-category-button" settings-target="#information-settings"><i class="bi bi-info-circle-fill"></i> <span class="settings-category-button-text"><span text-id="10">Informacje</span></span></button>
                        </div>

                        <div id="general-settings" class="d-none">
                            <button class="settings-back-button" settings-target="#settings-main-menu"><i class="bi bi-arrow-left"></i></button>
                            
                            <div class="mb-3">
                                <label for="update-frequency" class="form-label"><span text-id="13">Częstotliwość odświeżania (milisekundy)</span></label>
                                <input type="number" class="form-control settings" id="update-frequency">
                            </div>

                            <hr class="border border-1 opacity-100">

                            <button type="button" class="btn btn-danger mb-1" data-bs-toggle="modal" data-bs-target="#clearAllData">
                                <i class="bi bi-trash"></i> <span text-id="14">Resetuj wszystkie ustawienia</span>
                            </button>
                        </div>

                        <div id="language-settings" class="d-none">
                            <button class="settings-back-button" settings-target="#settings-main-menu"><i class="bi bi-arrow-left"></i></button>
                        
                            <div class="mb-3">
                                <label for="language-select" class="form-label">Język / Language</label>
                                <select class="form-select settings" id="language-select">
                                    <option value="pl" class="language-option">Polski / Polish</option>
                                    <option value="en" class="language-option">Angielski / English</option>
                                </select>
                            </div>

                            <div id="language-alert" class="alert alert-warning d-none" role="alert">
                                Język został zmieniony, aby go zastosować odśwież stronę.
                                <br>
                                The language has been changed, refresh website to apply it.
                            </div>

                            <div class="mb-3">
                                <label for="date-language-select" class="form-label"><span text-id="18">Język daty</span></label>
                                <select class="form-select settings" id="date-language-select">
                                    <option selected value="website" text-id="19">Język strony</option>
                                    <option value="browser" text-id="20">Język przeglądarki</option>
                                    <option value="custom" text-id="21">Wybierz</option>
                                </select>
                            </div>

                            <div class="mb-3 d-none">
                                <label for="date-language" class="form-label"><span text-id="18">Język daty</span></label>
                                <input type="text" class="form-control settings" id="date-language">
                                <div class="form-text"><span text-id="22">Język należy podać w formacie BCP 47.</span> <a href="https://www.techonthenet.com/js/language_tags.php" target="_blank" rel="noopener"><span text-id="23">lista dostępnych języków</span></a></div>
                            </div>
                        </div>

                        <div id="advanced-settings" class="d-none">
                            <button class="settings-back-button" settings-target="#settings-main-menu"><i class="bi bi-arrow-left"></i></button>
                        
                            <div class="mb-3">
                                <label for="customCSSTextarea" class="form-label"><span text-id="24">Własny kod CSS</span></label>
                                <textarea class="form-control code settings" id="customCSSTextarea" rows="3"></textarea>
                                <div class="form-text"><span text-id="26">Aby mieć pewność, że kod zostanie poprawnie zastosowany dodaj <code>!important</code> na końcu każdej linijki.</span></div>
                            </div>
                            <div class="mb-3">
                                <label for="customJSTextarea" class="form-label"><span text-id="25">Własny kod Javascript</span></label>
                                <textarea class="form-control code settings" id="customJSTextarea" rows="3"></textarea>
                                <div class="form-text"><span text-id="27">Kod zacznie działać dopiero po odświeżeniu strony.</span></div>
                            </div>
                        </div>

                        <div id="appearance-settings" class="d-none">
                            <button class="settings-back-button" settings-target="#settings-main-menu"><i class="bi bi-arrow-left"></i></button>
                        
                            <div class="mb-3">
                                <label for="dark-theme-select" class="form-label"><span text-id="28">Ciemny motyw</span></label>
                                <select class="form-select appearance-setting" id="dark-theme-select">
                                    <option selected value="auto" text-id="29">Automatycznie (motyw przeglądarki)</option>
                                    <option value="light" text-id="30">Jasny</option>
                                    <option value="dark" text-id="31">Ciemny</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="scale" class="form-label"><span text-id="32">Skala</span></label>
                                <input type="number" class="form-control appearance-setting" id="scale" step="0.1">
                            </div>
                            <div class="form-check">
                                <input class="form-check-input appearance-setting" type="checkbox" id="centerSiteVertically">
                                <label class="form-check-label" for="centerSiteVertically">
                                    <span text-id="33">Wyśrodkuj stronę w pionie</span>
                                </label>
                            </div>

                            <hr class="border border-1 opacity-100">

                            <div class="mb-3">
                                <label for="site-background" class="form-label"><span text-id="34">Tło strony</span></label>
                                <select class="form-select appearance-setting" id="site-background">
                                    <option value="default" text-id="35">Domyślny kolor (#9acd32)</option>
                                    <option value="custom-color" text-id="36">Własny kolor</option>
                                    <option value="image" text-id="37">Zdjęcie</option>
                                    <option value="video" text-id="38">Film</option>
                                    <option value="youtube-video" text-id="39">Film z YouTube</option>
                                    <option value="website" text-id="40">Strona</option>
                                </select>
                            </div>

                            <div class="mb-3 d-none">
                                <label class="form-label" for="site-title-color"><span text-id="41">Kolor</span></label>
                                <input type="color" id="background-color" class="form-control form-control-color appearance-setting" spellcheck="false" autocomplete="off">
                            </div>
                            
                            <div class="mb-3 d-none">
                                <label for="background-url" class="form-label">URL</label>
                                <input type="text" class="form-control appearance-setting" id="background-url" spellcheck="false" autocomplete="off">
                            </div>

                            <hr class="border border-1 opacity-100">

                            <div class="mb-3">
                                <label for="theme-select" class="form-label"><span text-id="42">Motyw</span></label>
                                <select class="form-select" id="theme-select">
                                    <option value="default" text-id="43">Domyślny</option>
                                    <option value="white-black" text-id="44">Biało-czarny</option>
                                    <option value="black-white" text-id="45">Czarno-biały</option>
                                    <option value="custom" text-id="46">Własny</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="site-title-color"><span text-id="47">Kolor tytułu strony</span></label>
                                <input type="color" id="site-title-color" class="form-control form-control-color color-setting" spellcheck="false" autocomplete="off" default-value="#0000ff" white-black-value="#000000" black-white-value="#ffffff" css-variable="--site-title-color">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="countdown-color"><span text-id="48">Kolor czcionki odliczania</span></label>
                                <input type="color" id="countdown-color" class="form-control form-control-color color-setting" spellcheck="false" autocomplete="off" default-value="#000072" white-black-value="#000000" black-white-value="#ffffff" css-variable="--countdown-color">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="countdown-bg-color"><span text-id="49">Kolor tła odliczania</span></label>
                                <input type="color" id="countdown-bg-color" class="form-control form-control-color color-setting" spellcheck="false" autocomplete="off" default-value="#007a00" white-black-value="#ffffff" black-white-value="#000000" css-variable="--countdown-bg-color">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="countdown-border-color"><span text-id="50">Kolor ramki odliczania</span></label>
                                <input type="color" id="countdown-border-color" class="form-control form-control-color color-setting" spellcheck="false" autocomplete="off" default-value="#000000" white-black-value="#000000" black-white-value="#ffffff" css-variable="--countdown-border-color">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="left-header-color"><span text-id="51">Kolor czcionki nagłówka "Pozostało:"</span></label>
                                <input type="color" id="left-header-color" class="form-control form-control-color color-setting" spellcheck="false" autocomplete="off" default-value="#0000ff" white-black-value="#000000" black-white-value="#ffffff" css-variable="--left-header-color">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="left-unit-color"><span text-id="52">Kolor tekstu z jednostkami czasu</span></label>
                                <input type="color" id="left-unit-color" class="form-control form-control-color color-setting" spellcheck="false" autocomplete="off" default-value="#0000ff" white-black-value="#000000" black-white-value="#ffffff" css-variable="--left-unit-color">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="date-label-color"><span text-id="53">Kolor czcionki etykiet dat</span></label>
                                <input type="color" id="date-label-color" class="form-control form-control-color color-setting" spellcheck="false" autocomplete="off" default-value="#0000ff" white-black-value="#000000" black-white-value="#ffffff" css-variable="--date-label-color">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="date-color"><span text-id="54">Kolor czcionki dat</span></label>
                                <input type="color" id="date-color" class="form-control form-control-color color-setting" spellcheck="false" autocomplete="off" default-value="#0000ff" white-black-value="#000000" black-white-value="#ffffff" css-variable="--date-color">
                            </div>

                            <hr class="border border-1 opacity-100">

                            <div class="mb-3">
                                <label class="form-label" for="countdown-border-width"><span text-id="55">Szerokość ramki odliczania</span></label>
                                <div class="input-group">
                                    <input type="number" id="countdown-border-width" class="form-control appearance-setting" spellcheck="false" autocomplete="off">
                                    <span class="input-group-text">px</span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="countdown-border-style"><span text-id="56">Styl ramki odliczania</span></label>
                                <select id="countdown-border-style" class="form-select appearance-setting">
                                    <option value="none" text-id="57">Brak</option>
                                    <option value="solid" text-id="58">Ciągła</option>
                                    <option value="double" text-id="59">Podwójna</option>
                                    <option value="dashed" text-id="60">Kreski</option>
                                    <option value="dotted" text-id="61">Kropki</option>
                                    <option value="inset" text-id="62">Wklęsła</option>
                                    <option value="outset" text-id="63">Wypukła</option>
                                    <option value="groove" text-id="64">Wklęsły pasek</option>
                                    <option value="ridge" text-id="65">Wypukły pasek</option>
                                </select>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input appearance-setting" type="checkbox" id="display-today-datetime">
                                <label class="form-check-label" for="display-today-datetime"><span text-id="66">Wyświetlaj dzisiejszą datę</span></label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input appearance-setting" type="checkbox" id="display-elephant-day-datetime">
                                <label class="form-check-label" for="display-elephant-day-datetime"><span text-id="67">Wyświetlaj datę Dnia Słonia</span></label>
                            </div>

                            <hr class="border border-1 opacity-100">

                            <div class="form-check mb-3">
                                <input class="form-check-input appearance-setting" type="checkbox" id="countdown-shadow">
                                <label class="form-check-label" for="countdown-shadow"><span text-id="68">Cień odliczania</span></label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input appearance-setting" type="checkbox" id="outline-icon">
                                <label class="form-check-label" for="outline-icon"><span text-id="69">Kontur ikony</span></label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input appearance-setting" type="checkbox" id="elephant-cursor">
                                <label class="form-check-label" for="elephant-cursor"><span text-id="70">Kursor ze słoniem</span></label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input appearance-setting" type="checkbox" id="old-menu">
                                <label class="form-check-label" for="old-menu"><span text-id="89">Stare menu</span></label>
                            </div>

                            <hr class="border border-1 opacity-100">

                            <div class="mb-3">
                                <label class="form-label" for="menu-buttons-appearance"><span text-id="71">Styl przycisków menu</span></label>
                                <select id="menu-buttons-appearance" class="form-select appearance-setting">
                                    <optgroup>
                                        <option value="primary">Primary</option>
                                        <option value="secondary">Secondary</option>
                                        <option value="success">Success</option>
                                        <option value="danger">Danger</option>
                                        <option value="warning">Warning</option>
                                        <option value="info">Info</option>
                                        <option value="light">Light</option>
                                        <option value="dark">Dark</option>
                                        <option value="link">Link</option>
                                    </optgroup>
                                    <optgroup>
                                        <option value="outline-primary">Primary (outline)</option>
                                        <option value="outline-secondary">Secondary (outline)</option>
                                        <option value="outline-success">Success (outline)</option>
                                        <option value="outline-danger">Danger (outline)</option>
                                        <option value="outline-warning">Warning (outline)</option>
                                        <option value="outline-info">Info (outline)</option>
                                        <option value="outline-light">Light (outline)</option>
                                        <option value="outline-dark">Dark (outline)</option>
                                    </optgroup>
                                    <optgroup>
                                        <option value="custom" text-id="72">Własny</option>
                                    </optgroup>
                                </select>
                            </div>

                            <table class="table" id="buttons-colors">
                                <thead>
                                    <tr>
                                        <th scope="col"><span text-id="73">Wartość \ Stan</span></th>
                                        <th scope="col"><span text-id="74">Normalny</span></th>
                                        <th scope="col"><span text-id="75">Kursor</span></th>
                                        <th scope="col"><span text-id="76">Aktywny</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="col"><span text-id="77">Tekst</span></th>
                                        <td><input type="color" id="custom-button-color" class="form-control form-control-color color-setting-button" spellcheck="false" autocomplete="off" css-variable="--custom-button-color"></td>
                                        <td><input type="color" id="custom-button-hover-color" class="form-control form-control-color color-setting-button" spellcheck="false" autocomplete="off" css-variable="--custom-button-hover-color"></td>
                                        <td><input type="color" id="custom-button-active-color" class="form-control form-control-color color-setting-button" spellcheck="false" autocomplete="off" css-variable="--custom-button-active-color"></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><span text-id="78">Tło</span></th>
                                        <td><input type="color" id="custom-button-bg" class="form-control form-control-color color-setting-button" spellcheck="false" autocomplete="off" css-variable="--custom-button-bg"></td>
                                        <td><input type="color" id="custom-button-hover-bg" class="form-control form-control-color color-setting-button" spellcheck="false" autocomplete="off" css-variable="--custom-button-hover-bg"></td>
                                        <td><input type="color" id="custom-button-active-bg" class="form-control form-control-color color-setting-button" spellcheck="false" autocomplete="off" css-variable="--custom-button-active-bg"></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><span text-id="79">Kontur</span></th>
                                        <td><input type="color" id="custom-button-border-color" class="form-control form-control-color color-setting-button" spellcheck="false" autocomplete="off" css-variable="--custom-button-border-color"></td>
                                        <td><input type="color" id="custom-button-hover-border-color" class="form-control form-control-color color-setting-button" spellcheck="false" autocomplete="off" css-variable="--custom-button-hover-border-color"></td>
                                        <td><input type="color" id="custom-button-active-border-color" class="form-control form-control-color color-setting-button" spellcheck="false" autocomplete="off" css-variable="--custom-button-active-border-color"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- <div id="widget-settings" class="d-none">
                            <button class="settings-back-button" settings-target="#settings-main-menu"><i class="bi bi-arrow-left"></i></button>
                        
                        
                        </div> -->

                        <div id="information-settings" class="d-none">
                            <button class="settings-back-button" settings-target="#settings-main-menu"><i class="bi bi-arrow-left"></i></button>
                    
                            <button class="settings-category-button" settings-target="#general-information"><i class="bi bi-info-circle-fill"></i> <span class="settings-category-button-text"><span text-id="7">Ogólne</span></span></button>
                            <button class="settings-category-button" settings-target="#open-source-information"><i class="bi bi-collection-fill"></i> <span class="settings-category-button-text">Open source</span></button>
                            <button class="settings-category-button" settings-target="#visit-counter-information"><i class="bi bi-123"></i> <span class="settings-category-button-text"><span text-id="12">Licznik wejść</span></span></button>
                        </div>

                        <div id="general-information" class="d-none">
                            <button class="settings-back-button" settings-target="#information-settings"><i class="bi bi-arrow-left"></i></button>
                        
                            <p class="fs-3 text-dark-emphasis"><b><span text-id="80">Strona Odliczanie do Dnia Słonia</span></b></p>

                            <a class="btn btn-dark" href="https://github.com/bartekl1/CountdownToElephantDay" target="_blank" rel="noopener"><i class="bi bi-github"></i> <span text-id="81">Repozytorium GitHub</span></a>
                            <a id="changelog-link" class="btn btn-secondary" href="https://github.com/bartekl1/CountdownToElephantDay/blob/main/CHANGELOG.md" target="_blank" rel="noopener"><i class="bi bi-list-ol"></i> <span text-id="11">Rejestr zmian</span></a>
                            <script>
                                if (getLanguage() == 'pl') {
                                    document.querySelector('#changelog-link').href = 'https://github.com/bartekl1/CountdownToElephantDay/blob/main/CHANGELOG_PL.md';
                                }
                            </script>

                            <p class="fs-4 text-dark-emphasis"><b><span text-id="82">Wersja</span></b></p>
                            <p><b><span text-id="82">Wersja</span>:</b> {{ version['version'] }}</p>
                            <p><b>Build:</b> {{ version['build'] }}</p>
                            {% if version['dev'] %}<p><b>DEV (<span text-id="83">podczas tworzenia</span>)</b></p>{% endif %}

                            <div class="container-fluid">
                                <div class="row row-cols-auto">
                                    <div class="col">
                                        <img class="img-fluid profile-picture" src="/static/img/slon_zwierze_szary_2.jpg" height="150px" width="150px" alt="Słoń">
                                    </div>
                                    <div class="col">
                                        <a href="https://www.youtube.com/@slon_indyjski" class="social-link youtube-link" target="_blank" title="Kanał YouTube" rel="noopener"><i class="bi bi-youtube"></i></a>
                                        <a href="https://github.com/bartekl1" class="social-link github-link" target="_blank" title="Profil GitHub" rel="noopener"><i class="bi bi-github"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="open-source-information" class="d-none">
                            <button class="settings-back-button" settings-target="#information-settings"><i class="bi bi-arrow-left"></i></button>
                        
                            <p class="fs-3 text-dark-emphasis"><b><span text-id="86">Oprogramowanie open source użyte przy tworzeniu strony</span>:</b></p>
                            <div class="ms-3">
                                <p class="fs-4"><b>Front-end:</b></p>
                                <ul>
                                    <li>
                                        <img class="brand-icon" height="22" width="22" src="https://cdn.simpleicons.org/bootstrap/ffffff" />
                                        <a href="https://getbootstrap.com/" target="_blank" rel="noopener">Bootstrap</a>
                                    </li>
                                    <li>
                                        <img class="brand-icon" height="22" width="22" src="https://cdn.simpleicons.org/bootstrap/ffffff" />
                                        <a href="https://icons.getbootstrap.com/" target="_blank" rel="noopener">Bootstrap Icons</a>
                                    </li>
                                    <li>
                                        <img class="brand-icon" height="22" width="22" src="https://cdn.simpleicons.org/simpleicons/ffffff" />
                                        <a href="https://simpleicons.org/" target="_blank" rel="noopener">Simple Icons</a>
                                    </li>
                                    <li>
                                        <img class="brand-icon" height="22" width="22" src="https://cdn.simpleicons.org/javascript/ffffff" />
                                        <a href="https://github.com/sindresorhus/screenfull" target="_blank" rel="noopener">screenfull</a>
                                    </li>
                                    <li>
                                        <img class="brand-icon" height="22" width="22" src="https://cdn.simpleicons.org/javascript/ffffff" />
                                        <a href="https://github.com/richtr/NoSleep.js/" target="_blank" rel="noopener">NoSleep.js</a>
                                    </li>
                                    <li>
                                        <img class="brand-icon" height="22" width="22" src="https://cdn.simpleicons.org/jetbrains/ffffff" />
                                        <a href="https://www.jetbrains.com/lp/mono/" target="_blank" rel="noopener"><span text-id="87">Czcionka</span> JetBrains Mono</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="ms-3">
                                <p class="fs-4"><b>Back-end:</b></p>
                                <ul>
                                    <li>
                                        <img class="brand-icon" height="22" width="22" src="https://cdn.simpleicons.org/flask/ffffff" />
                                        <a href="https://flask.palletsprojects.com/en/2.1.x/" target="_blank" rel="noopener">Flask</a>
                                    </li>
                                    <li>
                                        <img class="brand-icon" height="22" width="22" src="https://cdn.simpleicons.org/mysql/ffffff" />
                                        <a href="https://dev.mysql.com/doc/connector-python/en/index.html" target="_blank" rel="noopener">MySQL Connector Python</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div id="visit-counter-information" class="d-none">
                            <button class="settings-back-button" settings-target="#information-settings"><i class="bi bi-arrow-left"></i></button>
                        
                            <div id="visit-counter-div">
                                <div class="h3"><span text-id="12">Licznik odwiedzin</span></div>
                                <div id="visit-counter" class="d-none"></div>
                                <div id="visit-counter-loading">
                                    <div class="d-flex justify-content-center">
                                        <div class="spinner-border text-primary" role="status">
                                            <span class="visually-hidden">Ładuję...</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="visit-counter-offline" class="alert alert-danger m-1 d-none" role="alert">
                                <span text-id="88">Jesteś offline</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var updateFrequencyInput = document.querySelector('#update-frequency');
            var languageSelect = document.querySelector('#language-select');

            var oldLanguage = localStorage.getItem('language');

            function setSettingsForm() {
                if (localStorage.getItem('updateFrequency') !== null) {
                    updateFrequencyInput.value = localStorage.getItem('updateFrequency');
                } else {
                    updateFrequencyInput.value = updateTime;
                }

                if (localStorage.getItem('language') !== null) {
                    languageSelect.value = localStorage.getItem('language');
                } else {
                    languageSelect.value = 'pl';
                }

                document.querySelector('#customCSSTextarea').value = localStorage.getItem('userCustomCSS');
                document.querySelector('#customJSTextarea').value = localStorage.getItem('userCustomJS');

                if (localStorage.getItem('date-language') == undefined) {
                    document.querySelector('#date-language-select').value = 'website';
                    document.querySelector('#date-language').parentElement.classList.add('d-none');
                } else if (localStorage.getItem('date-language') == '@browser') {
                    document.querySelector('#date-language-select').value = 'browser';
                    document.querySelector('#date-language').parentElement.classList.add('d-none');
                } else {
                    document.querySelector('#date-language-select').value = 'custom';
                    document.querySelector('#date-language').parentElement.classList.remove('d-none');
                    document.querySelector('#date-language').value = localStorage.getItem('date-language');
                }
            }

            function saveSettings() {
                localStorage.setItem('updateFrequency', parseInt(updateFrequencyInput.value));
                updateTime = parseInt(updateFrequencyInput.value);

                if (languageSelect.value != 'default') {
                    localStorage.setItem('language', languageSelect.value);
                } else {
                    localStorage.removeItem('language');
                }

                localStorage.setItem('userCustomCSS', document.querySelector('#customCSSTextarea').value);
                document.querySelector('#user-custom-css').innerHTML = document.querySelector('#customCSSTextarea').value;

                localStorage.setItem('userCustomJS', document.querySelector('#customJSTextarea').value);
                document.querySelector('#user-custom-js').innerHTML = document.querySelector('#customJSTextarea').value;

                var currentLanguage;
                if (languageSelect.value != 'default') {
                    currentLanguage = languageSelect.value;
                } else {
                    currentLanguage = undefined;
                }

                if (currentLanguage != oldLanguage) {
                    document.querySelector('#language-alert').classList.remove('d-none');
                } else {
                    document.querySelector('#language-alert').classList.add('d-none');
                }

                if (document.querySelector('#date-language-select').value == 'website') {
                    localStorage.removeItem('date-language');
                    document.querySelector('#date-language').parentElement.classList.add('d-none');
                } else if (document.querySelector('#date-language-select').value == 'browser') {
                    localStorage.setItem('date-language', '@browser');
                    document.querySelector('#date-language').parentElement.classList.add('d-none');
                } else {
                    localStorage.setItem('date-language', document.querySelector('#date-language').value);
                    document.querySelector('#date-language').parentElement.classList.remove('d-none');
                }
            }

            addEventListener('load', () => {
                setSettingsForm();
            });

            document.querySelectorAll('.settings').forEach((e) => {
                e.addEventListener('change', saveSettings);
            });
        </script>

        <script>
            document.querySelectorAll(['.settings-category-button', '.settings-back-button']).forEach((e) => {
                e.addEventListener('click', (evt) => {
                    evt.currentTarget.parentElement.classList.add('d-none');
                    document.querySelector(evt.currentTarget.getAttribute('settings-target')).classList.remove('d-none');
                });
            });
        </script>

        <div class="modal fade" id="clearAllData" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <p class="modal-title fs-5 h1"><i class="bi bi-trash"></i> <span text-id="14">Resetuj wszystkie ustawienia</span></p>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="clearAllDataModalBody">
                        <span text-id="15">Czy na pewno chcesz zresetować wszystkie ustawienia?</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-target="#settingsModal" data-bs-toggle="modal"><i class="bi bi-x-lg"></i> <span text-id="16">Nie</span></button>
                        <button type="button" class="btn btn-danger" id="clearAllDataButton"><i class="bi bi-check-lg"></i> <span text-id="17">Tak</span></button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            document.querySelector('#clearAllDataButton').addEventListener('click', () => {
                localStorage.clear();
                caches.keys().then(function(names) {
                    for (let name of names)
                        caches.delete(name);
                });
                reg.unregister();
                location.reload();
            });
        </script>

        <div id="background-video-div" class="d-none"></div>
        <div id="background-youtube-video-div" class="d-none"></div>
        <div id="background-website-div" class="d-none"></div>
        

        <script src="/static/js/countdown.js"></script>

        <script>
            document.querySelectorAll('textarea').forEach(function (element) {
                element.addEventListener('keydown', function(e) {
                    if (e.key == 'Tab') {
                        e.preventDefault();
                        var start = this.selectionStart;
                        var end = this.selectionEnd;

                        // set textarea value to: text before caret + tab + text after caret
                        this.value = this.value.substring(0, start) +
                            "\t" + this.value.substring(end);

                        // put caret at right position again
                        this.selectionStart =
                        this.selectionEnd = start + 1;
                    }
                }); 
            });
        </script>

        <script src="/static/js/draggable.js"></script>

        <script id="user-custom-js"></script>

        <script src="/static/js/appearance.js"></script>

        <script>
            if (localStorage.getItem('updateFrequency') !== null) {
                updateTime = parseInt(localStorage.getItem('updateFrequency'));
            }

            if (localStorage.getItem('userCustomCSS') !== null) {
                document.querySelector('#user-custom-css').innerHTML = localStorage.getItem('userCustomCSS');
            }

            if (localStorage.getItem('userCustomJS') !== null) {
                document.querySelector('#user-custom-js').innerHTML = localStorage.getItem('userCustomJS');
            }
        </script>

        <script src="/static/js/visit_counter.js"></script>

        <script>
            var reg;
            // Register the service worker
            if ('serviceWorker' in navigator) {
                // Wait for the 'load' event to not block other work
                window.addEventListener('load', async () => {
                    // Try to register the service worker.
                    try {
                        reg = await navigator.serviceWorker.register('/sw.js');
                        console.log('Service worker registered! 😎', reg);
                    } catch (err) {
                        console.log('😥 Service worker registration failed: ', err);
                    }
                });
            }
        </script>

        <div class="d-none">
            <a href="/?lang=en">Countdown to Elephant Day</a>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.js"></script>

        <script>
            var settingsPopover = new bootstrap.Popover(document.querySelector('#options-button2'), {
                content: (getLanguage() == 'pl') ? 'Ustawienia' : 'Settings',
                placement: 'bottom',
                customClass: 'new-menu-popover'
            });
            var fullscreenPopover = new bootstrap.Popover(document.querySelector('#fullscreen-button2'), {
                content: (getLanguage() == 'pl') ? 'Pełny ekran' : 'Fullscreen',
                placement: 'bottom',
                customClass: 'new-menu-popover'
            });
            var keepScreenOnPopover = new bootstrap.Popover(document.querySelector('#keep-screen-on-button2'), {
                content: (getLanguage() == 'pl') ? 'Nie wygaszaj ekranu' : 'Keep screen on',
                placement: 'bottom',
                customClass: 'new-menu-popover'
            });

            document.querySelector('#options-button2').addEventListener('mouseenter', (evt) => {
                settingsPopover.setContent({
                    '.popover-body': ((getLanguage() == 'pl') ? 'Ustawienia' : 'Settings')
                });
                settingsPopover.show();
            });
            document.querySelector('#fullscreen-button2').addEventListener('mouseenter', (evt) => {
                fullscreenPopover.setContent({
                    '.popover-body': (document.querySelector('#fullscreen-button2').getAttribute('fullscreen') != 'true') ? ((getLanguage() == 'pl') ? 'Pełny ekran' : 'Fullscreen') : ((getLanguage() == 'pl') ? 'Zamknij pełny ekran' : 'Exit fullscreen')
                });
                fullscreenPopover.show();
            });
            document.querySelector('#keep-screen-on-button2').addEventListener('mouseenter', (evt) => {
                keepScreenOnPopover.setContent({
                    '.popover-body': (document.querySelector('#keep-screen-on-button2').getAttribute('keep-screen-on') != 'true') ? ((getLanguage() == 'pl') ? 'Nie wygaszaj ekranu' : 'Don\'t turn off screen') : ((getLanguage() == 'pl') ? 'Wyłącz blokadę' : 'Disable lock')
                });
                keepScreenOnPopover.show();
            });
            document.querySelector('#options-button2').addEventListener('mouseleave', (evt) => {
                settingsPopover.hide();
            });
            document.querySelector('#fullscreen-button2').addEventListener('mouseleave', (evt) => {
                fullscreenPopover.hide();
            });
            document.querySelector('#keep-screen-on-button2').addEventListener('mouseleave', (evt) => {
                keepScreenOnPopover.hide();
            });
        </script>
    </body>
</html>